<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 mt-2 ms-3 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Angular Localization</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <span class="me-3 py-2 text-dark">
                <select class="form-select form-select-sm language-switcher" (click)="handleLanguage($event)">
                    <option value="en">English</option>
                    <option value="fr">French</option>
                </select>
            </span>
        </nav>
    </div>
</header>
